* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    background-color: rgb(92, 92, 92);
    height: 100vh;

    .register-container {
        @media (max-width:800px) {
            width: 80%;
            font-size: 20px
        }

        @media (max-width:500px) {
            width: 50%;
        }

        width: 440px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .register-form-title {
            text-align: center;
            color: white;
        }

        .register-form {
            * {
                width: 100%;
                padding: 13px;
                border-radius: 10px;
            }

            .form-features {
                border: 1px solid #fff;
                margin: 10px 0px;
                background-color: transparent;
                color: white;
                &::placeholder {
                    color: white;
                }
            }

            .register-buton {
                cursor: pointer;
                border: none;
                margin: 10px 0;
            }
        }

    }
}